{% extends "base.html" %}
{% block content %}
    <div class="container" style="margin-top: 12px;">
        <div class="header clearfix border-bottom p-2"
             style="margin: 0px 0px 52px 0px">
            <h3 class="text-muted">
                Django + HTMX + Bootstrap
                <br>
            </h3>
        </div>
        <div class="jumbotron">
            <h1 class="display-3">
                Detalles
                <br>
            </h1>
            <p class="lead">
                Aqui se encuentras las tareas guardadas en la TODO list.
                <br>
            </p>
            <p></p>
        </div>
        {% include 'todoApp/listar_todos.html' %}
    </div>
{% endblock %}
